.walletbg{
    padding: 17px 23px;
        background: linear-gradient(90deg, #2042B8 0%, #FF6600 100%);
        border-radius: 100px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        gap: 1rem;
}
.walletbg svg{
    font-weight: bolder;
    color: #FFFFFF;
}